## 배열이란?
- 데이터를 나열하고 각 데이터를 인덱스에 대응하도록 구성된 데이터 구조 
- 파이썬에서는 리스트 타입이 배열 기능 제공

## 1. 배열이 필요한 이유?
- 같은 종류 데이터 효울 적 관리 및 순차적 적용을 위해

#### - 배열의 장점 
 * 데이터의 접근에 용이하다./ 빠른 접근 가능 

#### - 배열의 단점 
 * 미리 배열의 크기를 지정해주어야 함 / 연관 데이터 추가가 어렵다. 
 * 데이터의 추가 또는 삭제가 쉽지 않다.

## 2. 파이썬 배열

In [3]:
country = 'US'
print(country)

country = country + 'A'
print(country)

US
USA

* 리스트 활용

In [4]:
#1차원 배열: 리스트로 구현시 
data = [1,2,3,4,5]
print(data)

[1, 2, 3, 4, 5]

In [5]:
#2차원 배열: 리스트로 구현시 
data = [[1,2,3], [4,5,6], [7,8,9]]
print(data)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [6]:
print(data[0])
print(data[1])
print(data[0][2])

[1, 2, 3]
[4, 5, 6]
3

## 3. 프로그래밍 연습 

#### 연습 1. 위의 2차원 배열에서 9,8,7 순서로 출력

In [7]:
print(data[2][2],data[2][1],data[2][0])

9 8 7

#### 연습 2 : 다음 dataset에서 전체 이름 안에 M이 몇번 나왔는지 빈도수 출력하기

In [9]:
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

In [14]:
num = 0
for sentence in dataset:
    for word in sentence:
        if word == "M":
            num = num+1  
print(num)

38

In [15]:
# 모범 답안
m_count = 0
for data in dataset:
    for index in range(len(data)):
        if data[index] == 'M':
            m_count += 1
            
print(m_count)

38